<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
			integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
			crossorigin="anonymous"
		/>
		<title>HW2</title>
	</head>
	<body>
		{% comment %} {% endcomment %}
		<div class="text-center container">
			<div class="top-name">
				<h1 class="mt-4">Homework 2</h1>
				<p class="mt-0 pt-0 mb-4">R10725032 鄭亦辰</p>
			</div>
			<main>
				<section class="mx-auto mt-4">
					<h2>order</h2>
					<div class="d-flex justify-content-around border">
						<div class="border">ID</div>
						<div class="border">{{order.id}}</div>
					</div>
					<div class="d-flex justify-content-around border">
						<div class="border">customer</div>
						<div class="border">{{order.username}}</div>
					</div>
					<div class="d-flex justify-content-around border">
						<div class="border">items</div>
						<div class="border">
							{% for item in items %}
							<p class="m-0 p-0">{{item}}</p>
							{% endfor %}
						</div>
					</div>
				</section>
				<a href="/" class="d-block mt-2 border mx-auto">返回</a>
			</main>
		</div>
	</body>
	<style>
		.top-name {
			background-color: #b887de;
		}

		section {
			width: 375px;
		}

		main > a {
			width: 375px;
		}

		a {
			text-decoration: none;
			color: #000 !important;
		}

		a > div {
			border: 1px solid #000;
		}

		section a > div,
		section > div > div {
			flex: 1;
		}
	</style>
</html>
